.work-done-section {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
  background-size: cover;
}
.hr-line {
  background-color: white;
  width: 150px;
}
.work-done-card-title {
  color: white;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 900;
}
.work-done-card-sub-title {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
